<div class="body_contents">
<h1>Benvenuto <%= auth_person.first_name %></h1>


<% if @current_championships.first.pilots.include?(auth_person.pilot) %>
<%= link_to '<i class="icon-upload icon-white"></i>Invia un volo...'.html_safe, submit_flarc_flights_path,
            :class => 'btn btn-success btn-large' %>
<% else %>
  <%= link_to 'Iscriviti al CID 2012</span>'.html_safe, subscribe_flarc_championship_path(@current_championships.first),
            :class => 'btn btn-success btn-large' %>
<% end %>

<h2><%= link_to 'I tuoi voli:', flarc_flights_path(:pilot_id => auth_person.pilot.id) %></h2>
<p>
<%= render :partial => 'flarc/flights/flights',
           :object => @flights_excerpt.all[0..10],
           :locals => { :options => { :hide_pilot => true } } %>
<% if @flights_excerpt.count > 10 %>
  <%= link_to 'Lista completa dei voli...', flarc_flights_path(:pilot_id => auth_person.pilot.id) %>
<% end %>
</p>

<% if @old_championships.any? %>
<h3>Campionati precedenti</h3>
<p>
<table class="championships table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Da</th>
      <th>Fino a</th>
      <th>Iscritti</th>
    </tr>
  </thead>
  <tbody>
    <% @old_championships.each do |cship| %>
    <tr>
      <td><%= link_to(cship.name, cship) %></td>
      <td class="valid_from"><%=h cship.valid_from.strftime("%d-%m-%Y") %></td>
      <td class="valid_to"><%=h cship.valid_to.strftime("%d-%m-%Y") %></td>
      <td class="count"><%=h cship.pilots.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</p>
<% end %>

</div>


<%=
#render :partial => 'championship/registration'
 %>

