<div class="body_contents">
<table class="standard plane_types">
  <tr>
    <th>Name</th>
    <th>Seats</th>
    <th>Handicap</th>
    <th>Handicap Club</th>
  </tr>

<% for plane_type in @targets %>
  <tr id="pt_<%= plane_type.id %>">
    <td><%= link_to plane_type.name, plane_type %></td>
    <td><%= plane_type.seats %></td>
    <td>
      <% if plane_type.configurations.empty? then %>
        <span class="edit_h"><%= fmt_handicap(plane_type.handicap) %></span>
      <% else %>
        <% for config in plane_type.configurations %>
           <%= config.name %>:
           <span id="tc_<%= config.id %>" class="edit_th"><%= fmt_handicap(config.handicap) %></span><br />
        <% end %>
      <% end %>
    </td>
    <td>
      <% if plane_type.configurations.empty? then %>
        <span class="edit_ch"><%= fmt_handicap(plane_type.club_handicap) %></span>
      <% else %>
        <% for config in plane_type.configurations %>
          <%= config.name %>:
          <span id="tc_<%= config.id %>" class="edit_tch"><%= fmt_handicap(config.club_handicap) %></span><br />
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
