<% if !flights.empty? then %>
  <table class="standard flights">
    <tr>
      <th></th>
      <% if !options[:hide_pilot] %>
        <th>Pilota</th>
      <% end %>

      <th>Decollo</th>
      <th>Durata</th>

      <% if !options[:hide_plane] %>
        <th>Aliante</th>
      <% end %>
    </tr>
    <% for x in flights do %>
    <tr>
      <td class="view">
        <%= link_to(image_tag('view.png', :alt => 'View', :title => 'Apri la pagina del volo'), x) %>
      </td>
      <% if !options[:hide_pilot] %>
        <td class="pilot">
          <%= link_to(x.pilot.person.name, x.pilot) %>
        </td>
      <% end %>
      <td class="takoff">
        <%= link_to(l(x.takeoff_time, :format => :compact), x) %>
      </td>
      <td class="duration">
        <%=h fmt_duration(x.duration) %>
      </td>
      <% if !options[:hide_plane] %>
        <td class="glider">
          <%= link_to(x.plane.registration, x.plane) %>
          (<%= link_to(x.plane.plane_type.name, x.plane.plane_type) -%><%=h x.plane_type_configuration ? (' ' + x.plane_type_configuration.name) : '' -%>)
        </td>
      <% end %>
      <td class="tags">
        <% x.championship_flights.each do |cf| %>
          <%= image_tag cf.championship.icon,
                        :alt => "Icona #{cf.championship.name}",
                        :title => "#{cf.championship.name} (#{cf.status})",
                        :class => "cf_status_icon_#{cf.status}" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
