<%= form_for(@flight,
            :html => { :class => 'standard' }) do |f| -%>

  <% if @flight.errors.any? %>
  <div id="errorExplanation">
    <h2>Errori:</h2>
    <ul>
    <% @flight.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% if @igc_tmp_file %>
    <%= fields_for @igc_tmp_file do |f2| %>
      <%= f2.hidden_field :id %>
    <% end %>
  <% end %>

  <%= f.hidden_field :takeoff_time %>
  <%= f.hidden_field :landing_time %>

  <table>
    <tr>
      <th><%= f.label :pilot_id, 'Pilota' %></th>
      <td>
    <% changed_pars = '' %>
    <% changed_pars += @flight.id ? " + '&flight_id=#{@flight.id}'" : '' %>
    <% changed_pars += @flight.plane ?  " + '&plane_id=#{@flight.plane.id}'" : '' %>
    <%= f.select :pilot_id,
                 Pilot.find(:all,
                            :order => 'people.last_name ASC, people.first_name ASC',
                            :include => :person).collect { |p|
                      [ p.person.name.to_s_reversed, p.id ] },
                   { :include_blank => true },
                     :onchange => remote_function(
                       :url => { :action => 'new_pilot_changed' },
                       :method => :get,
                       :with => "'pilot_id=' + $('flight_pilot_id').value" +
                                changed_pars )
      %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :plane_id, 'Aliante' %></th>
      <td>
        <%= render :partial => 'new_update_planes' %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :plane_type_configuration_id, 'Configurazione' %></th>
      <td>
        <%= render :partial => 'new_update_config' %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :passenger, 'Passeggero' %></th>
      <td>
        <%= f.text_field :passenger, :id => 'passenger_input' %>
        <div class="autocomplete" id="passenger_autocomplete"></div>
<script type="text/javascript">
var pass_ac = new Ajax.Autocompleter('passenger_input', 'passenger_autocomplete',
                                     '/flights/autocomplete_passenger', {method:'get'})
</script>
      </td>
    </tr>
    <tr>
      <th><%= f.label :distance, 'Distanza' %></th>
      <td><%= f.text_field :distance, :size => 5,
                           :value => @flight.distance ? @flight.distance/1000.0 : nil %> km</td>
    </tr>
    <tr>
      <th><%= f.label :speed, 'Velocita\'' %></th>
      <td><%= f.text_field :speed, :size => 5 %> km/h</td>
    </tr>
    <tr>
      <th><%= f.label :private, 'Privato' %></th>
      <td><%= f.check_box :private %></td>
    </tr>
    <tr>
      <th><%= f.label :notes_public, 'Note (pubbliche)' %></th>
      <td><%= f.text_area :notes_public, :cols => 80, :rows => 10 %></td>
    </tr>
    <tr>
      <th><%= f.label :notes_private, 'Note (private)' %></th>
      <td><%= f.text_area :notes_private, :cols => 80, :rows => 10 %></td>
    </tr>
    <% if facebook_uid && @flight.pilot.person == auth_person %>
    <tr>
      <th><%= label_tag :publish_to_facebook, 'Pubblica su Facebook' %></th>
      <td><%= check_box_tag :publish_to_facebook %></td>
    </tr>
    <% end %>
    <tr>
      <th>Tag</th>
      <td>
        <%= render :partial => 'new_update_approvals' %>
      </td>
    </tr>
 </table>
 <p>
   <%= #button_to_function('Annulla', 'cancel_form()')
   %>
   <%= f.submit 'Invia', :style => 'width: 15em; height: 3em;' %>
 </p>

<% end -%>
