<table class="standard">
  <caption>Dati del file IGC</caption>
  <tr>
    <th>ID Volo</th>
    <td>
      <%=h @igc_file.id_from_logger %>
    </td>
  </tr>
  <tr>
    <th>Logger</th>
    <td>
      <%=h @igc_file.fr_manufacturer %>
      <%=h @igc_file.fr_model %>
      (hw<%=h @igc_file.hardware %>
       sw<%=h @igc_file.firmware %>)
    </td>
  </tr>
  <tr>
    <th>Data</th>
    <td><%=h @igc_file.date.strftime('%d-%m-%Y') %></td>
  </tr>
  <tr>
    <th>Decollo</th>
    <td><%=h @igc_file.takeoff_time.strftime('%H:%M:%S') %></td>
  </tr>
  <tr>
    <th>Atterraggio</th>
    <td><%=h @igc_file.landing_time.strftime('%H:%M:%S') %></td>
  </tr>
  <tr>
    <th>Pilota</th>
    <td>
      <%=h @igc_file.pilot_name %>
      (<%=h @igc_file.pilot_role %>)
    </td>
  </tr>
  <tr>
    <th>Aliante</th>
    <td>
      <%=h @igc_file.glider_type %> -
      <%=h @igc_file.glider_id %>
      (<%=h @igc_file.competition_id %>)
    </td>
  </tr>
  <tr>
    <th>Classe</th>
    <td>
      <%=h @igc_file.competition_class %>
    </td>
  </tr>
  <tr>
    <th>GPS</th>
    <td>
      <%=h @igc_file.gps_type %>
     </td>
  </tr>
  <tr>
    <th>Sensore di pressione</th>
    <td>
      <%=h @igc_file.pressure_sensor_type %>
     </td>
  </tr>
  <tr>
    <th>Datum</th>
    <td>
      <%=h @igc_file.datum_name %>
    </td>
  </tr>
  <% if @igc_tmp_file %>
  <tr>
    <th>Download</th>
    <td>
      <%= link_to(image_tag('igc.png'),
                  igc_tmp_file_path(@igc_tmp_file, :format => 'igc'),
                  :alt => 'IGC icon',
                  :title => 'Apri il file IGC con seeyou') %>
    </td>
  </tr>
  <% end %>
</table>
