<table id="approvals_table" class="approvals">
  <%= fields_for @flight do |f| %>
    <%= f.fields_for :ranking_flights do |f2| %>
  <tr>
    <th>
      <%= f2.label :status, f2.object.ranking.name %>
    </th>
    <td>
      <%= f2.hidden_field :ranking_id %>
      <%= f2.select :status,
                   [ [ "", "" ],
                     [ "Pendente", "pending" ],
                     [ "Invalido", "invalid" ],
                     [ "Approvato", "approved" ] ] %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
