<% form_for(@flight,
            :html => { :id => "send_flight_form",
                       :class => "standard" }) do |f| -%>

  <%= f.hidden_field :igc_file_id %>

È possibile inviare il volo per conto di un altro pilota, in questo caso seleziona la casella seguente:

<%= check_box_tag :other_pilot %><%= label_tag :other_pilot, "Invia per conto di un altro pilota" %>

    <%= f.label :pilot_id, "Pilota" %>
    
    <% plane_str = @flight.plane.nil? ? "" :
         " + '&plane_id=#{@flight.plane.id}'" %>
    <%= f.select :pilot_id,
                 Pilot.find(:all,
                            :order => "people.last_name ASC, people.first_name ASC",
                            :include => :person).collect { |p|
                      [ p.person.name.to_s.downcase.split.each { |word| word.capitalize! }.join(' '), p.id ] },
                   { :include_blank => true },
                     :onchange => remote_function(
                       :url => { :action => "new_pilot_changed" },
                       :method => :get,
                       :with => "'pilot=' + $('flight_pilot_id').value" +
                                plane_str )
      %>
      <%= f.label :plane_id, "Aliante" %>
      <%= f.select :plane_id,
                    Plane.find(:all).collect { |p| [ p.registration, p.id ] }, { },
                     :onchange => remote_function(
                       :update => "flight_plane_type_configuration_id",
                       :url => { :action => "new_update_config" },
                       :with => "'plane=' + $('flight_plane_id').value",
                       :method => :get ) %>
      <%= f.label :plane_type_configuration_id, "Configurazione" %>
  <% configs = @flight.plane.nil? ? Array.new :
               PlaneTypeConfiguration.find(:all, :conditions => { :plane_type_id => @flight.plane.plane_type_id }) %>

        <%= f.select :plane_type_configuration_id,
                     configs.collect { |p| [ p.name, p.id ] },
                     { :include_blank => "Default" } %>

      <div id="approvals">
      <%= f.label :status, "Approvazione" %>
        <%= f.select :status,
                     [ [ "Pendente", "pending" ],
                       [ "Invalido", "invalid" ],
                       [ "Approvato", "approved" ] ] %>
      </div>

      <%= f.label :passenger, "Passeggero" %>
      
        <%= f.text_field :passenger, :id => "passenger_input" %>
        <div class="autocomplete" id="passenger_autocomplete"></div>
        <% javascript_tag do -%>
var pass_ac = new Ajax.Autocompleter('passenger_input', 'passenger_autocomplete',
                                     '/flights/autocomplete_passenger', {method:'get'})
        <% end -%>
      <%= f.label :distance, "Distanza" %>
      <%= f.text_field :distance, :size => 5,
                           :value => @flight.distance.nil? ? nil : @flight.distance/1000.0 %> km

      <%= f.label :private, "Privato" %>
      <%= f.check_box :private %>

  <p style="text-align: center">
    <%= #button_to_function("Annulla", "cancel_form()")
    %>
   <%= f.submit "Invia", :style => "width: 15em; height: 3em;" %>
  </p>

<% end -%>
