<div id="list_div" style="display: none"></div>
<div id="info_div">
<% if authenticated_admin? %>
  <div class="edit_box">
  <%= link_to image_tag('action_edit.png', :alt => 'Edit...'),
         edit_flight_path(@target), :method => :get,
         :remote => true %>
  <%= link_to image_tag('action_delete.png', :alt => 'Delete...'),
         flight_path(@target),
         :method => :delete,
         :confirm => 'Sei sicurisssimo?',
         :remote => true
 %>
  </div>
<% end %>

<table>
<tr>
<td style="vertical-align: top">
<table class="standard flight">
  <tr>
    <th>Aliante</th>
    <td class="registration">
        <%= link_to(@target.plane.registration, @target.plane) %> -
        <%= link_to(@target.plane.plane_type.name, @target.plane.plane_type) %>
        (handicap <%=h fmt_handicap(@target.handicap) %>)
    </td>
  </tr>
  <tr>
    <th>Pilota</th>
    <td class="pilot">
        <%= link_to(@target.pilot.person.name, @target.pilot) %>
    </td>
  </tr>
  <tr>
    <th>Decollo</th>
    <td class="takoff">
      <%=h l(@target.takeoff_time) %>
    </td>
  </tr>
  <tr>
    <th>Durata</th>
    <td class="duration">
      <%=h fmt_duration(@target.duration) %>
    </td>
  </tr>
  <% if @target.distance %>
  <tr>
    <th>Distanza</th>
    <td class="distance">
      <%=h fmt_distance_in_km(@target.distance) %>
    </td>
  </tr>
  <% end %>
  <% if @target.points %>
  <tr>
    <th>Punteggio</th>
    <td class="points">
      <%=h fmt_points(@target.points) %>
    </td>
  </tr>
  <% end %>
  <% if @target.speed %>
  <tr>
    <th>Velocità</th>
    <td class="speed">
      <%=h @target.speed %> km/h
    </td>
  </tr>
  <% end %>
  <tr>
    <th>Tag</th>
    <td class="tags">
      <% @target.flight_tags.all.select { |x| x.status != '' }.each do |r| %>
        <%= status_icon(r.status) %>
        <%= r.tag.name %><br />
      <% end %>
    </td>
  </tr>
<% if @target.has_igc_file? %>
  <tr>
    <th>Scarica</th>
    <td>
      <%= link_to(image_tag('show_with_seeyou.jpg',
                      :alt => 'Logo SeeYou',
                      :title => 'Apri con SeeYou'),
                 flight_path(@target, :format => 'igc')) -%>
      <%= link_to(image_tag('show_with_google_earth.jpg',
                      :alt => 'Logo Google Earth',
                      :title => 'Apri con Google Earth'),
                 flight_path(@target, :format => 'kml')) -%>
      <%= link_to(image_tag('download_gpx.png',
                      :alt => 'Logo GPX',
                      :title => 'Scarica in formato GPX'),
                 flight_path(@target, :format => 'gpx')) -%>
    </td>
  </tr>
<% end %>
</table>
</td>
<td style="vertical-align: top">
<div class="flight_photos_box">
<% if !@target.photos.empty? %>
  <% @target.photos.each do |photo| %>
    <%= link_to image_tag(photo.flickr_url('s')), photo.flickr_url('-'),
             :rel => 'lightbox[gallery]', :title => photo.caption, :rev => photo.url  %>
  <% end %>
  <br />
<% end %>
<% if auth_person && auth_person.pilot == @target.pilot %>
  <% if @target.photos.empty? %>
    <%=
#link_to('Hai caricato qualche foto del volo su Flickr?', tag_photos_flight_url)
 %>
  <% else %>
    <%= link_to('Modifica fotografie', tag_photos_flight_url) %>
  <% end %>
<% end %>
</div>
</td>
</tr>
</table>

<% if @target.encoded_polyline && @target.encoded_polyline.size > 0 %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>

<div id="map_container" class="map_container" style="width: 100%; height: 500px;">
  <div id="map" class="map" style="width: 100%; height: 100%;"></div>
</div>
<%= javascript_tag do -%>

$(document).ready(function() {

  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var path = google.maps.geometry.encoding.decodePath("<%= @target.encoded_polyline %>");

  var bounds = new google.maps.LatLngBounds();
  for (var i = 0; i < path.length; i++) {
    bounds.extend(path[i]);
  }

  poly = new google.maps.Polyline({
    path: path,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });

  poly.setMap(map);

  map.fitBounds(bounds);
});

<% end %>
<% end %>

</div>
<div id="edit_div" style="display: none"></div>
