<div id="list_div" style="display: none"></div>
<div id="info_div">
<% if authenticated_admin? %>
  <div class="edit_box">
  <%= link_to_function image_tag('action_edit.png', :alt => 'Edit...'),
            'jQuery("#dialog-form").dialog("open")' %>

  <%= link_to image_tag('action_delete.png', :alt => 'Delete...'),
         flight_path(@target),
         :method => :delete,
         :confirm => 'Sei sicurisssimo?',
         :remote => true
 %>
  </div>
<% end %>

<div class="box flight_info">
<table class="standard flight_info">
  <tr>
    <th>Aliante</th>
    <td class="registration">
      <%= link_to(@target.plane.registration, @target.plane) %> -
      <%= link_to(@target.plane.plane_type.name, @target.plane.plane_type) %>
    </td>
  </tr>
  <tr>
    <th>Pilota</th>
    <td class="pilot">
        <%= link_to(@target.pilot.person.name, @target.pilot) %>
    </td>
  </tr>
  <tr>
    <th>Decollo</th>
    <td class="takoff">
      <%=h l(@target.takeoff_time) %>
    </td>
  </tr>
  <tr>
    <th>Durata</th>
    <td class="duration">
      <%=h fmt_duration(@target.duration) %>
    </td>
  </tr>
<% if @target.has_igc_file? %>
  <tr>
    <th>Scarica</th>
    <td>
      <%= link_to(image_tag('show_with_seeyou.jpg',
                      :alt => 'Logo SeeYou',
                      :title => 'Apri con SeeYou'),
                 flight_path(@target, :format => 'igc')) -%>
      <%= link_to(image_tag('show_with_google_earth.png',
                      :alt => 'Logo Google Earth',
                      :title => 'Apri con Google Earth'),
                 flight_path(@target, :format => 'kml')) -%>
      <%= link_to(image_tag('download_gpx.png',
                      :alt => 'Logo GPX',
                      :title => 'Scarica in formato GPX'),
                 flight_path(@target, :format => 'gpx')) -%>
    </td>
  </tr>
<% end %>
</table>
</div>

<% @target.championship_flights.each do |cf| %>
  <% if cf.championship.symbol.to_sym == :csvva_2011 %>
    <%= render :partial => 'flights/csvva/cf', :object => cf %>
  <% elsif cf.is_a?(Championship::Flight::Cid2011) %>
    <%= render :partial => 'flights/cid/cf', :object => cf %>
  <% end %>
<% end %>

<% if @target.encoded_polyline && @target.encoded_polyline.size > 0 %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>

<div id="map_container" class="map_container" style="width: 100%; height: 500px;">
  <div id="map" class="map" style="width: 100%; height: 100%;"></div>
</div>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var path = google.maps.geometry.encoding.decodePath("<%= @target.encoded_polyline %>");

  var bounds = new google.maps.LatLngBounds();
  for (var i = 0; i < path.length; i++) {
    bounds.extend(path[i]);
  }

  poly = new google.maps.Polyline({
    path: path,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });

  poly.setMap(map);

  map.fitBounds(bounds);
});

<% end %>

//]]>
</script>

</div>

<% if authenticated_admin? %>
<style>
  div#users-contain { width: 350px; margin: 20px 0; }
  div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
  div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
  .ui-dialog .ui-state-error { padding: .3em; }
  .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

<div id="dialog-form" title="Edit flight" style="display: none">
  <p class="validateTips">All form fields are required.</p>

  <form class="ui-widget">
  <fieldset class="ui-widget-content">
    <label for="pilot">Pilot</label>
    <input type="text" name="pilot" id="pilot" />
    <input type="text" name="pilot_id" id="pilot_id" /><br />

    <label for="plane">Aliante</label>
    <input type="text" name="plane" id="plane" />
    <input type="text" name="plane_id" id="plane_id" />

    <fieldset id="csvva_fieldset" class="ui-widget-content">
      <legend>CSVVA:
        <span id="csvva_statuses" class="cf_statuses">
          <input type="radio" name="csvva_status" value="null" id="csvva_status_null" />
          <label for="csvva_status_null"></label>
          <input type="radio" name="csvva_status" value="pending" id="csvva_status_pending" />
          <label for="csvva_status_pending"></label>
          <input type="radio" name="csvva_status" value="approved" id="csvva_status_approved" />
          <label for="csvva_status_approved"></label>
        </span>
      </legend>
      <div id="csvva_fieldset_contents" style="display: none">
        <label for="csvva_distance">Distanza</label>
        <input type="text" name="csvva_distance" id="csvva_distance" />
      </div>
    </fieldset>

    <fieldset id="cid_fieldset" class="ui-widget-content">
      <legend>CID:
        <span id="cid_statuses" class="cf_statuses">
          <input type="radio" name="cid_status" value="null" id="cid_status_null" />
          <label for="cid_status_null"></label>
          <input type="radio" name="cid_status" value="pending" id="cid_status_pending" />
          <label for="cid_status_pending"></label>
          <input type="radio" name="cid_status" value="approved" id="cid_status_approved" />
          <label for="cid_status_approved"></label>
        </span>
      </legend>

      <div id="cid_fieldset_contents" style="display: none">
        <label for="cid_distance">Distanza</label>
        <input type="text" name="cid_distance" id="cid_distance" /><br />

        <label for="cid_task_eval">Tema</label>
        <select id="cid_task_eval">
          <option value=""></option>
          <option value="free">Libero</option>
          <option value="declared">Dichiarato</option>
        </select><br />

        <label for="cid_task_type">Tipo</label>
        <select id="cid_task_type">
          <option value=""></option>
          <option value="butterfly">Farfalla</option>
          <option value="simple_triangle">Triangolo semplice</option>
          <option value="round_trip">Andata e ritorno</option>
          <option value="fai_triangle">Triangolo FAI</option>
          <option value="straight_line">Linea retta</option>
        </select><br />

        <label for="cid_task_completed">Completato</label>
        <select id="cid_task_completed">
          <option value=""></option>
          <option value="true">Sì</option>
          <option value="false">No</option>
        </select>
     </div>
    </fieldset>

  </fieldset>
  </form>
</div>


<script type="text/javascript">
//<![CDATA[

$(function() {
  $("#csvva_statuses").buttonset();
  $("#csvva_status_null").button({ icons: { primary: 'ui-icon-close' }, text: false });
  $("#csvva_status_pending").button({ icons: { primary: 'icon-pending' }, text: false });
  $("#csvva_status_approved").button({ icons: { primary: 'icon-approved' }, text: false });
  $("[name=csvva_status]").button().change(function(e) {
    $('#csvva_fieldset_contents').toggle(e.target.value != 'null');
    });

  $("#cid_statuses").buttonset();
  $("[name=cid_status]").button().change(function(e) {
    $('#cid_fieldset_contents').toggle(e.target.value != 'null');
    });
  $("#cid_status_null").button({ icons: { primary: 'ui-icon-close' }, text: false });
  $("#cid_status_pending").button({ icons: { primary: 'icon-pending' }, text: false });
  $("#cid_status_approved").button({ icons: { primary: 'icon-approved' }, text: false });

  $('#pilot').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/pilots",
          dataType: "json",
          data: {
            view: 'combo',
            flt: 'combo',
            sort: 'person.last_name,person.first_name',
            search: request.term,
            limit: 10
          },
          success: function(data) {
            response( $.map(data, function(item) {
              return {
                label: item.person.name,
                value: item.person.name,
                id: item.id
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $('#pilot_id').val(ui.item.id);
        $('#csvva_fieldset').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

  $('#plane').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/planes",
          dataType: "json",
          data: {
            view: 'combo',
            flt: 'combo',
            sort: 'registration',
            search: request.term,
            limit: 10
          },
          success: function(data) {
            response( $.map(data, function(item) {
              return {
                label: item.registration,
                value: item.registration,
                id: item.id
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $('#plane_id').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

  allFields = $( [] ).add( name ),
  tips = $( ".validateTips" );

  function updateTips( t ) {
    tips
      .text( t )
      .addClass( "ui-state-highlight" );
    setTimeout(function() {
      tips.removeClass( "ui-state-highlight", 1500 );
    }, 500 );
  }

  function checkLength( o, n, min, max ) {
    if ( o.val().length > max || o.val().length < min ) {
      o.addClass( "ui-state-error" );
      updateTips( "Length of " + n + " must be between " +
        min + " and " + max + "." );
      return false;
    } else {
      return true;
    }
  }

  $("#dialog-form").dialog({
    autoOpen: false,
    height: 500,
    width: 500,
    modal: true,
    buttons: {
      'Salva': function() {

//        resource = $('#dialog-form').data('resource');
        resource = {};
        resource.plane_id = $('#plane_id').val();
        resource.pilot_id = $('#pilot_id').val();

        $.ajax({
          url: '/flights/' + $('#dialog-form').data('resource_id'),
          dataType: 'json',
          type: 'PUT',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(resource),
          success: function(data) {
            $("#dialog-form").dialog("close");
            $("#freeow").freeow("Okay!", "Volo modificato", { classes: ['smokey', 'pushpin'] });
          },
          failure: function(data) {
            alert("Error saving object");
          }
        });
      },
      'Annulla': function() {
        $(this).dialog("close");
      }
    },
    open: function() {
      $.ajax({
        url: '/flights/' + $('#dialog-form').data('resource_id'),
        dataType: 'json',
        data: {
          view: 'edit',
        },
        success: function(resource) {

          $('#dialog-form').data('resource', resource);

          $('#pilot').val(resource.pilot.person.name);
          $('#pilot_id').val(resource.pilot.id);

          $('#plane').val(resource.plane.registration);
          $('#plane_id').val(resource.plane.id);

          cships = {};

          $.each(resource.championship_flights, function(index, value) {
            cships[value._type] = value;
          });

          csvva = cships['Championship::Flight::Csvva2011']
          if (csvva) {
            $('#csvva_fieldset_contents').show();
            $('#csvva_status').val(csvva.status);
            $('#csvva_distance').val(csvva.distance / 1000);
          } else
            $('#csvva_fieldset_contents').hide();

          cid = cship['Championship::Flight::Cid2011']
          if (cid) {
            $('#cid_fieldset_contents').show();
            $(':cid_status').setValue(cid.status);
            $('#cid_distance').val(cid.distance / 1000);
            $('#cid_task_eval').val(cid.resource.task_eval);
            $('#cid_task_type').val(cid.resource.task_type);
            $('#cid_task_completed').val(cid.resource.task_completed);
          } else
            $('#cid_fieldset_contents').hide();
        },
        failure: function(resource) {
          alert('Errore lettura oggetto');
        }
      });
    },
    close: function() {
      allFields.val( "" ).removeClass( "ui-state-error" );
    }
  });

  $('#dialog-form').data('resource_id', <%= @target.id %>);
});

//]]>
</script>
<% end %>
