<div id="list_div" style="display: none"></div>
<div id="info_div">
<% if authenticated_admin? %>
  <div class="edit_box">
  <%= link_to_function image_tag('action_edit.png', :alt => 'Edit...'),
            'jQuery("#dialog-form").dialog("open")' %>

  <%= link_to image_tag('action_delete.png', :alt => 'Delete...'),
         flight_path(@target),
         :method => :delete,
         :confirm => 'Sei sicurisssimo?',
         :remote => true
 %>
  </div>
<% end %>

<div class="box flight_info">
<table class="standard flight_info">
  <tr>
    <th>Aliante</th>
    <td class="registration">
      <%= link_to(@target.plane.registration, @target.plane) %> -
      <%= link_to(@target.plane.plane_type.name, @target.plane.plane_type) %>
      <%= @target.plane_type_configuration ? @target.plane_type_configuration.name : '' %>
    </td>
  </tr>
  <tr>
    <th>Pilota</th>
    <td class="pilot">
        <%= link_to(@target.pilot.person.name, @target.pilot) %>
    </td>
  </tr>
  <tr>
    <th>Decollo</th>
    <td class="takoff">
      <%=h l(@target.takeoff_time) %>
    </td>
  </tr>
  <tr>
    <th>Durata</th>
    <td class="duration">
      <%=h fmt_duration(@target.duration) %>
    </td>
  </tr>
<% if @target.has_igc_file? %>
  <tr>
    <th>Scarica</th>
    <td>
      <%= link_to(image_tag('show_with_seeyou.jpg',
                      :alt => 'Logo SeeYou',
                      :title => 'Apri con SeeYou'),
                 flight_path(@target, :format => 'igc')) -%>
      <%= link_to(image_tag('show_with_google_earth.png',
                      :alt => 'Logo Google Earth',
                      :title => 'Apri con Google Earth'),
                 flight_path(@target, :format => 'kml')) -%>
      <%= link_to(image_tag('download_gpx.png',
                      :alt => 'Logo GPX',
                      :title => 'Scarica in formato GPX'),
                 flight_path(@target, :format => 'gpx')) -%>
    </td>
  </tr>
<% end %>
</table>
</div>

<% @target.championship_flights.each do |cf| %>
  <%= render :partial => "championships/flight/#{cf.class.name.split('::').last.underscore}", :object => cf %>
<% end %>

<% if @target.encoded_polyline && @target.encoded_polyline.size > 0 %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>

<div id="map_container" class="map_container" style="width: 100%; height: 500px;">
  <div id="map" class="map" style="width: 100%; height: 100%;"></div>
</div>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var path = google.maps.geometry.encoding.decodePath("<%= @target.encoded_polyline %>");

  var bounds = new google.maps.LatLngBounds();
  for (var i = 0; i < path.length; i++) {
    bounds.extend(path[i]);
  }

  poly = new google.maps.Polyline({
    path: path,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });

  poly.setMap(map);

  map.fitBounds(bounds);
});
//]]>
</script>
<% end %>

</div>

<% if authenticated_admin? %>
<div id="dialog-form" title="Edit flight" style="display: none">
  <form class="ui-widget">
  <fieldset class="ui-widget-content">
    <label for="pilot">Pilot</label>
    <input type="text" name="pilot" id="pilot" />
    <input type="text" name="pilot_id" id="pilot_id" /><br />

    <label for="plane">Aliante</label>
    <input type="text" name="plane" id="plane" />
    <input type="text" name="plane_id" id="plane_id" />

    <label for="plane">Configurazione</label>
    <select name="plane_type_configuration_id" id="plane_type_configuration_id">
    </select>

    <fieldset id="csvva_fieldset" class="ui-widget-content">
      <legend>
        <span id="csvva_statuses" class="cf_statuses">
          <input type="radio" name="csvva_status" value="null" id="csvva_status_null" />
          <label for="csvva_status_null"></label>
          <input type="radio" name="csvva_status" value="pending" id="csvva_status_pending" />
          <label for="csvva_status_pending"></label>
          <input type="radio" name="csvva_status" value="approved" id="csvva_status_approved" />
          <label for="csvva_status_approved"></label>
        </span>
        CSVVA:
      </legend>
      <input type="hidden" name="csvva_id" id="csvva_id" />
      <div id="csvva_fieldset_contents" style="display: none">
        <label for="csvva_distance">Distanza</label>
        <input type="text" name="csvva_distance" id="csvva_distance" />
      </div>
    </fieldset>

    <fieldset id="cid_fieldset" class="ui-widget-content">
      <legend>
        <span id="cid_statuses" class="cf_statuses">
          <input type="radio" name="cid_status" value="null" id="cid_status_null" />
          <label for="cid_status_null"></label>
          <input type="radio" name="cid_status" value="pending" id="cid_status_pending" />
          <label for="cid_status_pending"></label>
          <input type="radio" name="cid_status" value="approved" id="cid_status_approved" />
          <label for="cid_status_approved"></label>
        </span>
        CID:
      </legend>

      <input type="hidden" name="cid_id" id="cid_id" />

      <div id="cid_fieldset_contents" style="display: none">
        <label for="cid_distance">Distanza</label>
        <input type="text" name="cid_distance" id="cid_distance" /><br />

        <label for="cid_ranking">Classifica</label>
        <select id="cid_ranking">
          <option value=""></option>
          <option value="prom">Promozione</option>
          <option value="naz_open">Nazionale Open</option>
          <option value="naz_15m">Nazionale 15 m</option>
          <option value="naz_13m5">Nazionale 13.5 m</option>
          <option value="naz_club">Nazionale Club</option>
        </select><br />

        <label for="cid_task_eval">Tema</label>
        <select id="cid_task_eval">
          <option value=""></option>
          <option value="free">Libero</option>
          <option value="declared">Dichiarato</option>
        </select><br />

        <label for="cid_task_type">Tipo</label>
        <select id="cid_task_type">
          <option value=""></option>
          <option value="butterfly">Farfalla</option>
          <option value="simple_triangle">Triangolo semplice</option>
          <option value="round_trip">Andata e ritorno</option>
          <option value="fai_triangle">Triangolo FAI</option>
          <option value="straight_line">Linea retta</option>
        </select><br />

        <label for="cid_task_completed">Completato</label>
        <select id="cid_task_completed">
          <option value=""></option>
          <option value="true">Sì</option>
          <option value="false">No</option>
        </select>
     </div>
    </fieldset>

  </fieldset>
  </form>
</div>


<script type="text/javascript">
//<![CDATA[

$(function() {
  $("#csvva_statuses").buttonset();
  $("#csvva_status_null").button({ icons: { primary: 'ui-icon-close' }, text: false });
  $("#csvva_status_pending").button({ icons: { primary: 'icon-pending' }, text: false });
  $("#csvva_status_approved").button({ icons: { primary: 'icon-approved' }, text: false });
  $("[name=csvva_status]").button().change(function(e) {
    $('#csvva_fieldset_contents').toggle(e.target.value != 'null');
    });

  $("#cid_statuses").buttonset();
  $("[name=cid_status]").button().change(function(e) {
    $('#cid_fieldset_contents').toggle(e.target.value != 'null');
    });
  $("#cid_status_null").button({ icons: { primary: 'ui-icon-close' }, text: false });
  $("#cid_status_pending").button({ icons: { primary: 'icon-pending' }, text: false });
  $("#cid_status_approved").button({ icons: { primary: 'icon-approved' }, text: false });

  $('#pilot').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/pilots",
          dataType: "json",
          data: {
            view: 'combo',
            flt: 'combo',
            sort: 'person.last_name,person.first_name',
            search: request.term,
            limit: 10
          },
          success: function(data) {
            response( $.map(data, function(item) {
              return {
                label: item.person.name,
                value: item.person.name,
                id: item.id
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $('#pilot_id').val(ui.item.id);
        $('#csvva_fieldset').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

  $('#plane').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/planes",
          dataType: "json",
          data: {
            view: 'combo',
            flt: 'combo',
            sort: 'registration',
            search: request.term,
            limit: 10
          },
          success: function(data) {
            response( $.map(data, function(item) {
              return {
                label: item.registration,
                value: item.registration,
                id: item.id,
                type_id: item.plane_type_id
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $('#plane_id').val(ui.item.id);
        $.ajax({
          url: '/plane_types/' + ui.item.type_id,
          dataType: 'json',
          data: {
            sort: 'name'
          },
          success: function(data) {
            $('option', $('#plane_type_configuration_id')).remove();
            $.each(data.configurations, function(key, val) {
              $('#plane_type_configuration_id').attr('options')[key] =
                new Option(val.name, val.id,
                           val.id == $('#dialog-form').data('resource').plane_type_configuration_id);
            });
          }
        });
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

  $("#dialog-form").dialog({
    autoOpen: false,
    height: 500,
    width: 500,
    modal: true,
    open: function() {
      $.ajax({
        url: '/flights/' + $('#dialog-form').data('resource_id'),
        dataType: 'json',
        data: {
          view: 'edit',
        },
        success: function(resource) {

          $('#dialog-form').data('resource', resource);

          $('#pilot').val(resource.pilot.person.name);
          $('#pilot_id').val(resource.pilot.id);

          $('#plane').val(resource.plane.registration);
          $('#plane_id').val(resource.plane.id);

          $('option', $('#plane_type_configuration_id')).remove();
          $.each(resource.plane.plane_type.configurations, function(key, val) {
            $('#plane_type_configuration_id').attr('options')[key] =
              new Option(val.name, val.id,
                         val.id == $('#dialog-form').data('resource').plane_type_configuration_id);
          });

          cships = {};

          $.each(resource.championship_flights, function(index, value) {
            cships[value._type] = value;
          });

          $('input:radio[name=csvva_status]').removeAttr('checked');
          csvva = cships['Championship::Flight::Csvva2011'];
          if (csvva) {
            $('#csvva_fieldset_contents').show();
            $('#csvva_id').val(csvva.id);
            $('#csvva_status_' + csvva.status).checked = true;
            $('input:radio[name=csvva_status]').filter('[value=' + csvva.status + ']').attr('checked', true);
            $('#csvva_distance').val(csvva.distance / 1000);
          } else {
            $('#csvva_fieldset_contents').hide();
            $('#csvva_id').val('');
            $('input:radio[name=csvva_status]').filter('[value=null]').attr('checked', true);
          }
          $('input:radio[name=csvva_status]').button('refresh');

          $('input:radio[name=cid_status]').removeAttr('checked');
          cid = cships['Championship::Flight::Cid2011'];
          if (cid) {
            $('#cid_fieldset_contents').show();
            $('#cid_id').val(cid.id);
            $('input:radio[name=cid_status]').filter('[value=' + cid.status + ']').attr('checked', true);
            $('#cid_distance').val(cid.distance / 1000);
            $('#cid_ranking').val(cid.cid_ranking);
            $('#cid_task_eval').val(cid.data.task_eval);
            $('#cid_task_type').val(cid.data.task_type);
            $('#cid_task_completed').val(cid.data.task_completed ? 'true' : 'false');
          } else {
            $('#cid_fieldset_contents').hide();
            $('#cid_id').val('');
            $('input:radio[name=cid_status]').filter('[value=null]').attr('checked', true);
          }
          $('input:radio[name=cid_status]').button('refresh');
        },
        error: function(resource) {
          alert('Errore lettura oggetto');
        }
      });
    },
    close: function() {
    },
    buttons: {
      'Salva': function() {

//        resource = $('#dialog-form').data('resource');
        resource = {};
        resource.plane_id = $('#plane_id').val();
        resource.pilot_id = $('#pilot_id').val();

        resource.plane_type_configuration_id = $('#plane_type_configuration_id').val();

        resource.championship_flights_attributes = [];

        cid = {};
        status = $('input:radio[name=cid_status]:checked').val();
        if (status && status != 'null') {
          if ($('#cid_id').val())
            cid.id = $('#cid_id').val();

          cid._type = 'Championship::Flight::Cid2011';
          cid.championship_id = $('#dialog-form').data('cid_cship_id');
          cid.status = status;
          cid.distance  = $('#cid_distance').val() * 1000;
          cid.cid_ranking = $('#cid_ranking').val();
          cid.data = {};
          cid.data.task_eval = $('#cid_task_eval').val();
          cid.data.task_type = $('#cid_task_type').val();
          cid.data.task_completed = $('#cid_task_completed').val() == 'true';
          resource.championship_flights_attributes.push(cid);
        } else if ($('#cid_id').val()) {
          cid.id = $('#cid_id').val();
          cid._destroy = true;
          resource.championship_flights_attributes.push(cid);
        }

        csvva = {};
        status = $('input:radio[name=csvva_status]:checked').val();
        if (status && status != 'null') {
          if ($('#csvva_id').val())
            csvva.id = $('#csvva_id').val();

          csvva._type = 'Championship::Flight::Csvva2011';
          csvva.championship_id = $('#dialog-form').data('csvva_cship_id');
          csvva.status = status;
          csvva.distance  = $('#csvva_distance').val() * 1000;
          resource.championship_flights_attributes.push(csvva);
        } else if ($('#csvva_id').val()) {
          csvva.id = $('#csvva_id').val();
          csvva._destroy = true;
          resource.championship_flights_attributes.push(csvva);
        }


        $.ajax({
          url: '/flights/' + $('#dialog-form').data('resource_id'),
          dataType: 'json',
          type: 'PUT',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(resource),
          success: function(data) {
//            $('#freeow').freeow('Okay!', 'Volo modificato', { classes: ['smokey', 'pushpin'] });
//            $('#dialog-form').dialog('close');
            window.location.reload();
          },
          error: function(data) {
            alert('Error saving object');
          }
        });
      },
      'Annulla': function() {
        $(this).dialog('close');
      }
    },
  });

  $('#dialog-form').data('resource_id', <%= @target.id %>);
  $('#dialog-form').data('cid_cship_id', <%= Championship.find_by_symbol(:cid_2011).id %>);
  $('#dialog-form').data('csvva_cship_id', <%= Championship.find_by_symbol(:csvva_2011).id %>);
});

//]]>
</script>
<% end %>
