<h1>Regolamento e documenti</h1>

<ul>
  <li><%= link_to 'Regolamento CID 2011', '/cid/Regolamento CID 2011.pdf' %></li>
  <li><%= link_to 'Allegato A', '/cid/Allegato A-club.pdf' %></li>
  <li><%= link_to 'Allegato B', '/cid/Allegato B.handicaps.pdf' %></li>
  <li><%= link_to 'Allegato C', '/cid/Allegato C-invio voli.pdf' %></li>
  <li><%= link_to 'Trofeo Ancillotti 2011', '/cid/Trofeo Ancillotti 2011.pdf' %></li>
</ul>
