<div class="login">
<p>
  Se hai già un account al campionato inserisci i dati qui:
</p>
<%= form_tag registration_login_and_associate_path, :class => 'standard', :method => :post  do -%>
  <%= label_tag :email, 'e-Mail' %><br />
  <%= text_field_tag :email %><br />
  <%= label_tag :password, 'Password' %><br />
  <%= password_field_tag :password %><br />
  <%= submit_tag 'Entra' %>
<% end -%>
</div>
<br />

<div id="registration_div">
<p>
  Oppure crea un nuovo account:
</p>
<%= form_tag '', { :class => 'standard', :method => :post } do |f| -%>
  <table>
    <tr>
      <th><%= label_tag :first_name, 'Nome' %></th>
      <td><%= text_field_tag :first_name, @facebook_user.first_name %></td>
    </tr>
    <tr>
      <th><%= label_tag :last_name, 'Cognome' %></th>
      <td><%= text_field_tag :last_name, @facebook_user.last_name %></td>
    </tr>
    <tr>
      <th><%= label_tag :email, 'e-Mail' %></th>
      <td><%= text_field_tag :email, @facebook_user.email %></td>
    </tr>
<!--    <tr>
      <th><%= label_tag :password, 'Password' %></th>
      <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <th><%= label_tag :password2, 'Password (ripetila)' %></th>
      <td><%= password_field_tag :password2 %></td>
    </tr>-->
    <tr>
      <th><%= label_tag :club_id, 'Club' %></th>
      <td><%= select_tag :club_id,
                      options_for_select(Club.find(:all,
                                 :order => 'clubs.name ASC').collect { |c|
                                   [ c.name, c.id ] }) %>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <%= submit_tag 'Invia' %>
      </td>
    </tr>
  </table>
<% end -%>
</div>
