<div class="body_contents">
<%= content_tag(:object, '',
                :type => 'image/svg+xml',
                :data => stats_by_pilot_flarc_plane_path(:format => :svg),
                :width => '300px', :height => '200px',
                :style => 'float: right;') %>

<table class="standard plane">
  <tr>
    <th>Marche</th>
    <td class="registration">
      <%= link_to @target.registration, @target %>
    </td>
  </tr>
  <tr>
    <th>Tipo</th>
    <td class="type">
      <%= link_to @target.plane_type.name, @target.plane_type %><br />
    </td>
  </tr>
 <% if !@target.plane_type.configurations.empty? then %>
  <tr>
    <th>Configurazioni</th>
    <td class="configurations">
      <% for config in @target.plane_type.configurations %>
        <%=h config.name %> (handicap <%=h fmt_handicap(config.handicap) %>)<br />
      <% end %>
    </td>
  </tr>
<% else %>
  <tr>
    <th>Handicap</th>
    <td class="handicap">
      <%=h fmt_handicap(@target.plane_type.handicap) %>
    </td>
  </tr>
<% end %>
</table>
</div>

<% @flights = @target.flights.all(:order => 'takeoff_time DESC') %>
<%= render :partial => 'flarc/flights/flights', :object => @flights, :locals => { :options => { :hide_pilot => true } } %>
</div>
