<p>
  Il tuo indirizzo e-mail risulta già registrato al sistema. Inserisci la password con cui sei registrato:
</p>

<div id="registration_div">
<%= form_tag '', { :class => 'standard', :method => :post } do |f| -%>
  <%= hidden_field_tag :state, @state.to_json %>
  <table class="form">
    <tr>
      <th>e-Mail</th>
      <td><%= @state[:email] %></td>
    </tr>
    <tr>
      <th><%= label_tag :password, 'Password' %></th>
      <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td colspan=2 class="submit">
        <%= submit_tag 'Avanti >>' %>
      </td>
    </tr>
  </table>
  <%= link_to 'Ho dimenticato la password', cid_registration_recover_password_path(:fqda => @state[:email]), :remote => true, :method => :post %>
<% end -%>
</div>
