<h2>Inserimento nuovo volo</h2>
<div id="info_div" style="display: inline-block; vertical-align: top">
<% if @igc_tmp_file %>
  <%= render :partial => 'info' %>
<% end %>
</div>

<div id="map_container" class="map_container" style="width: 400px; height: 270px; display: inline-block; vertical-align: top; margin-top: 1em;">
  <div id="map" class="map" style="width: 100%; height: 100%;"></div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$(document).ready(function() {

  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var path = [
    <% @igc_file.track.each do |point| %>
      new google.maps.LatLng(<%= point.lat.round(4) %>, <%= point.lon.round(4) %>),
    <% end %>
  ];

  var bounds = new google.maps.LatLngBounds();
  for (var i = 0; i < path.length; i++) {
    bounds.extend(path[i]);
  }

  poly = new google.maps.Polyline({
    path: path,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });

  poly.setMap(map);

  map.fitBounds(bounds);
});
</script>

<% form_tag '', { :class => 'standard', :method => :post } do |f| -%>
  <%= hidden_field_tag :state, @state.to_json %>
  <table class="form">
    <% if asgard_session && asgard_session.authenticated_admin? %>
    <tr>
      <th><%= label_tag :pilot_id, 'Pilota' %></th>
      <td>
        <%= select_tag :pilot_id, options_for_select(['', ''] +
                 Pilot.find(:all,
                            :order => "core_people.last_name ASC, core_people.first_name ASC",
                            :include => :person).collect { |p|
                      [ p.person.name.to_s_reversed.downcase.split.each { |word| word.capitalize! }.join(' '), p.id ] },
                      @state[:pilot_id])
        %>
      </td>
    </tr>
    <% end %>
    <tr>
      <th><%= label_tag :plane_registration, 'Marche' %></th>
      <td><%= text_field_tag :plane_registration, @state[:plane_registration] %></td>
    </tr>
    <tr>
      <td colspan=2 class="submit">
        <%= submit_tag 'Avanti >>' %>
      </td>
    </tr>
  </table>
<% end -%>
