<div class="body_contents">
<%= content_tag(:object, '',
                :type => 'image/svg+xml',
                :data => stats_by_plane_pilot_path(:format => :svg),
                :width => '300px', :height => '200px',
                :style => 'float: right;') %>

<h1><%= @target.person.name %></h1>

<table class="standard pilot">
  <caption>Pilota</caption>
  <% if authenticated_admin? %>
    <% if @target.person.residence_location %>
  <tr>
    <th>Indirizzo</th>
    <td class="address">
      <%=h @target.person.residence_location %><br />
    </td>
  </tr>
    <% end %>
  <tr>
    <th>Telefono</th>
    <td class="phone">
      <%=h @target.person.tmp_telefono %><br />
    </td>
  </tr>
    <% if @target.person.tmp_cellulare %>
  <tr>
    <th>Cellulare</th>
    <td class="phone">
      <%=h @target.person.tmp_cellulare %><br />
    </td>
  </tr>
    <% end %>
  <tr>
    <th>e-Mail</th>
    <td class="email">
      <% @target.person.identities.each do |identity|  %>
          <%= mail_to identity.qualified %><br />
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% @target.championship_pilots.each do |x| %>
  <%= render :partial => "championships/pilot/#{x.class.name.split('::').last.underscore}", :object => x %>
<% end %>

<% @flights = @target.flights.order('takeoff_time DESC') %>
<%= render :partial => 'flights/flights', :object => @flights, :locals => { :options => { :hide_pilot => true } } %>

</div>

<% if authenticated_admin? %>
  <div class="edit_box">
  <%= link_to_function image_tag('action_edit.png', :alt => 'Edit...'),
            'jQuery("#dialog-form").dialog("open")' %>
  <%=# link_to image_tag('action_delete.png', :alt => 'Delete...'),
#         pilot_path,
#         :method => 'DELETE',
#         :confirm => 'Sei sicurisssimo?',
#         :remote => true
 %>
                    <%# :complete => visual_effect(:fade, 'body', { :duration => 1, :after_finish => 'function() { window.location='/planes'; }' }) %>
  </div>
  <%= render :partial => 'admin_edit' %>
<% end %>
