<div class="body_contents">
<%= render :partial => 'rankings/cid_2012/show',
           :locals => {
             :ranking => Ranking.find_by_symbol('cid_2012_naz_open'),
             :limit => 3 } %>
<%= render :partial => 'rankings/cid_2012/show',
           :locals => {
             :ranking => Ranking.find_by_symbol('cid_2012_naz_15m'),
             :limit => 3 } %>
<%= render :partial => 'rankings/cid_2012/show',
           :locals => {
             :ranking => Ranking.find_by_symbol('cid_2012_naz_club'),
             :limit => 3 } %>
<%= render :partial => 'rankings/cid_2012/show',
           :locals => {
             :ranking => Ranking.find_by_symbol('cid_2012_naz_13m5'),
             :limit => 3 } %>
<%= render :partial => 'rankings/cid_2012/show',
           :locals => {
             :ranking => Ranking.find_by_symbol('cid_2012_prom'),
             :limit => 3 } %>
</div>
