<div class="body_contents">
<% if asgard_session && asgard_session.authenticated? %>
  <h1>Benvenuto <%= auth_person.first_name %></h1>

<% if auth_person.pilot %>
  <% if auth_person.pilot.championships.empty? %>
    <h2>Non sei iscritto a nessun campionato</h2>
  <% else %>
    <h2>I tuoi campionati:</h2>
    <% csvva_2011 = false %>
    <% cid_2011 = false %>
    <% auth_person.pilot.championship_pilots.each do |cp| %>
      <%= render :partial => "championships/pilot/#{cp.class.name.split('::').last.underscore}", :object => cp %>
      <% cid_2011 = true if cp.championship.symbol == 'cid_2011' %>
      <% csvva_2011 = true if cp.championship.symbol == 'csvva_2011' %>
    <% end %>
  <% end %>
  <ul>
  <% if !cid_2011 %>
    <li><%= link_to 'Iscriviti al Campionato Italiano di Distanza 2011!...', cid_registration_path %></li>
  <% end %>
  <% if !csvva_2011 && auth_person.pilot.club.symbol == 'acao' %>
    <li><%= link_to 'Iscriviti al campionato CSVVA 2011!...', csvva_registration_path %></li>
  <% end %>
  </ul>
  <h2>I tuoi voli:</h2>
  <% flights = auth_person.pilot.flights.order('takeoff_time DESC').limit(11) %>
  <%= render :partial => 'flights/flights',
             :object => flights.all[0..10],
             :locals => { :options => { :hide_pilot => true } } %>
  <% if flights.count > 10 %>
    <%= link_to 'Lista completa dei voli...', flights_path(:pilot_id => auth_person.pilot.id) %>
  <% end %>
  <%= render :partial => '/flights/wizard', :locals => { :autoopen => !!params['new_flight'] } %>
<% end %>
<% end %>
</div>
