<% options ||= {} %>
<% if !flights.empty? then %>
  <table class="flights table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <% if !options[:hide_pilot] %>
          <th>Pilota</th>
        <% end %>

        <th>Decollo</th>
        <th>Durata</th>

        <% if !options[:hide_plane] %>
          <th>Aliante</th>
        <% end %>

        <th>Punteggio</th>
        <th>Validazione</th>
      </tr>
    </thead>
    <tbody>
    <% for x in flights do %>
      <tr style="cursor: pointer" onclick="window.location = '<%= url_for x %>'">
        <% if !options[:hide_pilot] %>
          <td class="pilot">
            <%= link_to(x.pilot.name, x.pilot) %>
          </td>
        <% end %>
        <td class="takeoff">
          <%= l x.takeoff_time, :format => :compact %>
        </td>
        <td class="duration">
          <%=h fmt_duration(x.duration) %>
        </td>
        <% if !options[:hide_plane] %>
          <td class="glider">
            <%= link_to(x.plane.registration, x.plane) %>
            (<%= link_to(x.plane.plane_type.name, x.plane.plane_type) -%><%=h x.plane_type_configuration ? (' ' + x.plane_type_configuration.name) : '' -%>)
          </td>
        <% end %>
        <td class="points">
          <%= x.championship_flights.first && x.championship_flights.first.respond_to?(:points) ?
                fmt_points(x.championship_flights.first.points) : '' %>
        </td>
        <td class="validation" style="padding: 2px 0px 0px 2px">
          <%= x.championship_flights.first ? status_icon(x.championship_flights.first.status) : '' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
