<div class="flight_info_cut_body">
<div class="body_contents">

<div class="box flight_info">
<table class="standard flight_info">
  <tr>
    <th>Aliante</th>
    <td class="registration">
      <%= link_to(@target.plane.registration, @target.plane) %> -
      <%= link_to(@target.plane.plane_type.name, @target.plane.plane_type) %>
      <%= @target.plane_type_configuration ? @target.plane_type_configuration.name : '' %>
    </td>
  </tr>
  <tr>
    <th>Pilota</th>
    <td class="pilot">
        <%= link_to(@target.pilot.person.name, @target.pilot) %>
    </td>
  </tr>
  <tr>
    <th>Decollo</th>
    <td class="takoff">
      <%=h l(@target.takeoff_time) %>
    </td>
  </tr>
  <tr>
    <th>Durata</th>
    <td class="duration">
      <%=h fmt_duration(@target.duration) %>
    </td>
  </tr>
<% if @target.has_igc_file? %>
  <tr>
    <th>Scarica</th>
    <td>
      <%= link_to(image_tag('show_with_seeyou.jpg',
                      :alt => 'Logo SeeYou',
                      :title => 'Apri con SeeYou'),
                 flarc_flight_path(@target, :format => 'igc')) -%>
      <%= link_to(image_tag('show_with_google_earth.png',
                      :alt => 'Logo Google Earth',
                      :title => 'Apri con Google Earth'),
                 flarc_flight_path(@target, :format => 'kml')) -%>
      <%= link_to(image_tag('download_gpx.png',
                      :alt => 'Logo GPX',
                      :title => 'Scarica in formato GPX'),
                 flarc_flight_path(@target, :format => 'gpx')) -%>
    </td>
  </tr>
<% end %>
</table>

<div class="flight_notes">
  Note:
  <div class="contents"><%= @target.notes_public %></div>
</div>

<div class="flight_notes">
  Note DG:
  <div class="contents"><%= @target.notes_private %></div>
</div>

</div>

<% @target.championship_flights.each do |cf| %>
  <%= render :partial => "flarc/championships/flight/#{cf.class.name.split('::').last.underscore}", :object => cf %>
<% end %>

<% if authenticated? && @target.pilot_id == auth_person.pilot.id %>
  <%= link_to '<i class="icon-pencil"></i>Modifica...'.html_safe,
            edit_flarc_flight_path(@target),
            :class => 'btn btn-success btn-large' %>
<% end %>


</div>
</div>

<% if @target.encoded_polyline && @target.encoded_polyline.size > 0 %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>

<div id="map_container" class="map_container" style="position: absolute; right: 0; bottom: 0; top: 0; left: 352px; height: 100%">
  <div id="map" class="map" style="width: 100%; height: 100%;"></div>
</div>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var path = google.maps.geometry.encoding.decodePath("<%= @target.encoded_polyline %>");

  var bounds = new google.maps.LatLngBounds();
  for (var i = 0; i < path.length; i++) {
    bounds.extend(path[i]);
  }

  poly = new google.maps.Polyline({
    path: path,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });

  poly.setMap(map);

  map.fitBounds(bounds);
});
//]]>
</script>
<% end %>


