<p>
  Se hai scattato delle fotografie in volo, puoi geolocalizzarle utilizzando l'ora di scatto
  e la traccia del volo. È importante che l'orologio della macchina fotografica sia ben regolato
  altrimenti le fotografie verranno posizionate avanti o indietro sulla traccia.
</p>
<p>
  Ecco l'elenco delle fotografie trovate su <a href="http://www.flickr.com/">Flickr</a>
  a partire dalle
  <strong><%=h l(@flight.takeoff_time.utc, :format => :timeonly) %> UTC</strong> alle
  <strong><%=h l(@flight.landing_time.utc, :format => :timeonly) %> UTC</strong> del
  <strong><%=h l(@flight.takeoff_time, :format => :dateonly) %></strong> (orari di decollo e atterraggio).
</p>
<% if !@photos.empty? %>
<div class="tag_photos_form">
  <% form_tag(:action => :do_tag_photos) do %>
  <p>
    Se la macchina fotografica ha l'orologio mal impostato, puoi correggerlo inserendo il
    numero di minuti qui:<br />
    <%= text_field_tag :shift, '0', :size => 5, :value => @shift %>
    <%= link_to 'Aggiorna', :url => { :action => 'tag_photos_ajax' },
                :update => 'photo_geotagging_select_div', :method => :get,
                :remote => true,
                :with => "'shift=' + $('shift').value" %><br />
    <%= check_box_tag :overwrite_geotag, 1, false %><%= label_tag :overwrite_geotag, 'Sovrascrivi la geolocalizzazione esistente' %>
  </p>

  <p>
    Seleziona le fotografie da aggiungere al tuo volo:
  </p>
  <div id="photo_geotagging_select_div">
  <%= render :partial => 'tag_photos_ajax', :object => @photos %>
  </div>
    <br />
    <br />
    <%= submit_tag 'Invia' %>
  <% end %>
</div>
<% else %>
  <p>
    <span style="color: orange; font-size: 125%;">Non è stata trovata nessuna fotografia nel periodo selezionato</span>
  </p>
  <p>
    <%= link_to 'Ritorna alla pagina del volo', @flight %>
  </p>
<% end %>
