<div class="cf csvva_cf">
  <div class="logo">
    <%=image_tag('cid/logo_16.png', :class => 'logo')%><br />
    <%= status_icon(cf.status) %>
  </div>
  <div class="container">
    <div class="title"><%= cf.championship.name %></div>
    <div class="body">
      <% if cf.data[:task_eval] == :free %>
        Tema libero
      <% else %>
        Tema dichiarato e <%= cf.data[:task_completed] ? '' : 'non ' %> completato
      <% end %><br />
      Tipo: <%=
        case cf.data[:task_type]
        when :butterfly ; 'Farfalla'
        when :simple_triangle ; 'Triangolo semplice'
        when :round_trip ; 'Andata e ritorno'
        when :fai_triangle ; 'Triangolo FAI'
        when :straight_line ; 'Linea retta'
        end
      %><br />
      Distanza: <%= fmt_distance_in_km(cf.distance.to_i) %><br />
      Punti: <%= fmt_points(cf.points) %>
    </div>
  </div>
</div>
