<div class="cf cf_wide csvva_cf">
  <div class="logo">
    <%=image_tag('csvva/logo_16.png', :class => 'logo')%><br />
    <%= status_icon(csvva2010.status) %>
  </div>
  <div class="container">
    <div class="title"><%= csvva2010.championship.name %></div>
    <div class="body">
      Distanza: <%= fmt_distance_in_km(csvva2010.distance.to_i) %><br />
      Punti: <%= fmt_points(csvva2010.points) %>
    </div>
  </div>
</div>
