<% form_for(@plane_type,
            :html => { :id => "plane_type_form",
                       :class => "standard" }) do |f| -%>
  <%= f.error_messages %>
  <table>
    <tr>
      <td><%= f.label :name, "Nome" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :manufacturer, "Produttore" %></td>
      <td><%= f.text_field :manufacturer %></td>
    </tr>
    <tr>
      <td><%= f.label :seats, "Posti" %></td>         
      <td><%= f.text_field :seats, :size => 5 %></td>
    </tr>
    <tr>
    <% if @plane_type.configurations.empty? then %>
        <td><%= f.label :handicap, "Handicap" %></td>
        <td><%= f.text_field :handicap, :size => 5 %></td>
    <% else %>
      <td>Configurazioni multiple</td>
      <td>
        <% f.fields_for :configurations do |f2|%>
          <%= f2.text_field :name, :size => 10 %>
          <%= f2.text_field :handicap, :size => 5 %>
          <%#= link_to_remote "Delete", :action => "del_configuration" %>
          <br />
        <% end %>
      <%#= link_to_remote "Add", :action => "add_configuration" %>
    <% end %>
    </tr>
 </table>
  <p style="text-align: center">
    <%= button_to_function("Annulla", "cancel_form()") %>
    <%= submit_tag "Salva" %>
  </p>

<% end -%>
