<% if authenticated_admin? then %>
  <div class="edit_box">
  <%= link_to image_tag(
         "action_edit.png", :alt => "Edit..."),
         :url => { :action => "edit" }, :method => :get, :remote => true %>
  <%= link_to image_tag(
         "action_delete.png", :alt => "Delete..."),
         :method => "DELETE",
         :confirm => "Sei sicurisssimo?",
         :remote => true %>
                    <%# :complete => visual_effect(:fade, "body", { :duration => 1, :after_finish => "function() { window.location='/plane_types'; }" }) %>
  </div>
<% end %>

<table class="standard plane_type">
  <caption><%=h @target.name %></caption>
  <tr>
    <th>Nome</th>
    <td class="name">
      <%= @target.name %>
    </td>
  </tr>
  <tr>
    <th>Produttore</th>
    <td class="manufacturer">
      <%= @target.manufacturer %>
    </td>
  </tr>
  <tr>
    <th>Link</th>
    <td class="link_wp">
      <%= link_to @target.link_wp, @target.link_wp %>
    </td>
  </tr>
  <tr>
    <th>Posti</th>
    <td class="seats">
      <%= @target.seats %>
    </td>
  </tr>
 <% if !@target.configurations.empty? then %>
  <tr>
    <th>Configurazioni</th>
    <td class="configurations">
      <% for config in @target.configurations %>
        <%= config.name %> (handicap <%=h fmt_handicap(config.handicap) %>)<br />
      <% end %>
    </td>
  </tr>
<% else %>
  <tr>
    <th>Handicap</th>
    <td class="handicap">
      <%= fmt_handicap(@target.handicap) %>
    </td>
  </tr>
  <tr>
    <th>Handicap Club</th>
    <td class="handicap">
      <%= fmt_handicap(@target.club_handicap) %>
    </td>
  </tr>
<% end %>
</table>
