<div id="plane_type_info_div">

<% if !session[:authenticated_identity].nil? &&
       session[:authenticated_identity].is_admin then %>
  <div class="edit_box">
  <%= link_to_remote image_tag(
         "action_edit.png", :alt => "Edit..."),
         :url => { :action => "edit" }, :method => :get %>
  <%= link_to_remote image_tag(
         "action_delete.png", :alt => "Delete..."),
         :method => "DELETE",
         :confirm => "Sei sicurisssimo?" %>
                    <%# :complete => visual_effect(:fade, "body", { :duration => 1, :after_finish => "function() { window.location='/plane_types'; }" }) %>
  </div>
<% end %>

<table class="standard plane_type">
  <caption><%=h @plane_type.name %></caption>
  <tr>
    <th>Nome</th>
    <td class="name">
      <%=h @plane_type.name %>
    </td>
  </tr>
  <tr>
    <th>Produttore</th>
    <td class="manufacturer">
      <%= @plane_type.manufacturer %>
    </td>
  </tr>
  <tr>
    <th>Pagina WikiPedia</th>
    <td class="link_wp">
      <%= link_to @plane_type.link_wp, @plane_type.link_wp %>
    </td>
  </tr>
  <tr>
    <th>Posti</th>
    <td class="seats">
      <%= @plane_type.seats %>
    </td>
  </tr>
 <% if !@plane_type.configurations.empty? then %>
  <tr>
    <th>Configurazioni</th>
    <td class="configurations">
      <% for config in @plane_type.configurations %>
        <%=h config.name %> (handicap <%=h fmt_handicap(config.handicap) %>)<br />
      <% end %>
    </td>
  </tr>
<% else %>
  <tr>
    <th>Handicap</th>
    <td class="handicap">
      <%=h fmt_handicap(@plane_type.handicap) %>
    </td>
  </tr>
<% end %>
</table>
</div>

<div id="plane_type_edit_form_div" style="display: none"></div>
