<% limit ||= nil %>
<% if !ranking.sorted_standings.empty? then %>
  <table class="standard ranking">
    <caption style="background-color: #<%=h ranking.color %>">
      Classifica <%=h ranking[:name] %><br />
      <span class="generated_at">(aggiornata al <%=h l(ranking.generated_at, :format => :short) %>)</span>
    </caption>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Voli</th>
    </tr>
    <% cnt = 0 %>
    <% ranking.sorted_standings.each do |r| %>
    <tr>
      <td class="number"><%=h r.position %>
        <% weeksnap = r.history_entries.last(
                          :order => "snapshot_time DESC",
                          :conditions => "snapshot_time < now() + '1 week'::interval") %>
        <% if !weeksnap.nil? then %>
          <% if weeksnap.position > r.position then %>
            <%= image_tag("arrow-up.png", :alt => "Up",
                   :title => "Era alla posizione ##{weeksnap.position}" +
                             " il #{l weeksnap.snapshot_time, :format => :dateonly} "+
                             " con #{weeksnap.value.to_i} voli" ) %>
          <% elsif weeksnap.position < r.position then %>
            <%= image_tag("arrow-down.png", :alt => "Down",
                   :title => "Era alla posizione ##{weeksnap.position}" +
                             " il #{l weeksnap.snapshot_time, :format => :dateonly}" +
                             " con #{weeksnap.value.to_i} voli" ) %>
          <% else %>
            <%= image_tag("ranking-no-change.png", :alt => "No change") %>
          <% end %>
        <% else %>
          <%= image_tag("ranking-new.png", :alt => "No change") %>
        <% end %>
      </td>
      <td class="name">
        <%= link_to(r.pilot.name, r.pilot) %>
      </td>
      <td class="count"><%=h r.value.round %></td>
    </tr>
    <% if !limit.nil? && cnt >= limit then %>
      <tr>
        <td colspan=6><%= link_to("Classifica completa...", ranking) %></td>
      </tr>
      <% break %>
    <% end %>
    <% end %>
  </table>
<% else %>
<p>Nessun pilota attualmente nella classifica <%=h ranking[:name] %></p>
<% end %>
