<div id="registration_div">
<% form_tag '', { :class => 'standard', :method => :post } do |f| -%>
  <%= hidden_field_tag :state, @state.to_json %>
  <table class="form">
    <tr>
      <th><%= label_tag :fai_card, 'Tessera FAI' %></th>
      <td><%= text_field_tag :fai_card, @state[:fai_card] %></td>
    </tr>
    <tr>
      <th><%= label_tag :club_id, 'Club' %></th>
      <td><%= select_tag :club_id,
                options_for_select(
                  [[ '' => '' ]] + 
                  Club.find(:all, :order => 'clubs.name ASC').collect { |c| [ c.name, c.id ] },
                  @state[:club_id]) %>
      </td>
    </tr>
    <tr>
      <th><%= label_tag :cid_category, 'Categoria' %></th>
      <td><%= select_tag :cid_category,
                options_for_select({ '' => '', 'Nazionale' => :naz, 'Promozione' => :prom },
                  @state[:cid_category]) %></td>
    </tr>
    <tr>
      <td colspan=2 class="submit">
        <%= submit_tag 'Fine' %>
      </td>
    </tr>
  </table>
<% end -%>
<div>
