<h1>Primati italiani di Volo a Vela - Distanza</h1>
<%
 def box(symbol)
   r = Ranking.find_by_symbol(symbol)
   s = r.sorted_standings.first

   str += "<td onClick=\"document.location='#{ranking_path(r)}'\" title=\"#{h r.name}\">"
   str += "#{s.pilot.person.name}<br />" if s
   str += "#{s.flight.plane.plane_type.name}<br />" if s
   str += "#{fmt_distance_in_km(s.flight.distance)}<br />" if s
   str += l(s.flight.takeoff_time, :format => :dateonly) if s
   str += "</td>"
   return str
 end

%>
<table class="standard cir_dst_ranking">
  <tr>
    <th></th>
    <th>Libera</th>
    <th>15 metri</th>
    <th>Club</th>
    <th>World class</th>
  </tr>
  <tr>
    <th>Linea retta</th>
    <%= box("cir_dst_lr_open") %>
    <%= box("cir_dst_lr_15m") %>
    <%= box("cir_dst_lr_club") %>
    <%= box("cir_dst_lr_world") %>
  </tr>
  <tr>
    <th>Linea retta, femminili</th>
    <%= box("cir_dst_lr_open_f") %>
    <%= box("cir_dst_lr_15m_f") %>
    <%= box("cir_dst_lr_club_f") %>
    <%= box("cir_dst_lr_world_f") %>
  </tr>
  <tr>
    <th>Linea retta con meta</th>
    <%= box("cir_dst_lrm_open") %>
    <%= box("cir_dst_lrm_15m") %>
    <%= box("cir_dst_lrm_club") %>
    <%= box("cir_dst_lrm_world") %>
  </tr>
  <tr>
    <th>Linea retta con meta, femminili</th>
    <%= box("cir_dst_lrm_open_f") %>
    <%= box("cir_dst_lrm_15m_f") %>
    <%= box("cir_dst_lrm_club_f") %>
    <%= box("cir_dst_lrm_world_f") %>
  </tr>
  <tr>
    <th>Andata e ritorno prefissata</th>
    <%= box("cir_dst_fix_open") %>
    <%= box("cir_dst_fix_15m") %>
    <%= box("cir_dst_fix_club") %>
    <%= box("cir_dst_fix_world") %>
  </tr>
  <tr>
    <th>Andata e ritorno prefissata, femminili</th>
    <%= box("cir_dst_fix_open_f") %>
    <%= box("cir_dst_fix_15m_f") %>
    <%= box("cir_dst_fix_club_f") %>
    <%= box("cir_dst_fix_world_f") %>
  </tr>
  <tr>
    <th>Andata e ritorno libera</th>
    <%= box("cir_dst_free_open") %>
    <%= box("cir_dst_free_15m") %>
    <%= box("cir_dst_free_club") %>
    <%= box("cir_dst_free_world") %>
  </tr>
  <tr>
    <th>Andata e ritorno libera, femminili</th>
    <%= box("cir_dst_free_open_f") %>
    <%= box("cir_dst_free_15m_f") %>
    <%= box("cir_dst_free_club_f") %>
    <%= box("cir_dst_free_world_f") %>
  </tr>
  <tr>
    <th>Triangolo FAI prefissato</th>
    <%= box("cir_dst_trg_fix_open") %>
    <%= box("cir_dst_trg_fix_15m") %>
    <%= box("cir_dst_trg_fix_club") %>
    <%= box("cir_dst_trg_fix_world") %>
  </tr>
  <tr>
    <th>Triangolo FAI prefissato, femminili</th>
    <%= box("cir_dst_trg_fix_open_f") %>
    <%= box("cir_dst_trg_fix_15m_f") %>
    <%= box("cir_dst_trg_fix_club_f") %>
    <%= box("cir_dst_trg_fix_world_f") %>
  </tr>
  <tr>
    <th>Triangolo FAI libero</th>
    <%= box("cir_dst_trg_free_open") %>
    <%= box("cir_dst_trg_free_15m") %>
    <%= box("cir_dst_trg_free_club") %>
    <%= box("cir_dst_trg_free_world") %>
  </tr>
  <tr>
    <th>Triangolo FAI libero, femminili</th>
    <%= box("cir_dst_trg_free_open_f") %>
    <%= box("cir_dst_trg_free_15m_f") %>
    <%= box("cir_dst_trg_free_club_f") %>
    <%= box("cir_dst_trg_free_world_f") %>
  </tr>
  <tr>
    <th>Tre punti di virata prefissati</th>
    <%= box("cir_dst_3tp_fix_open") %>
    <%= box("cir_dst_3tp_fix_15m") %>
    <%= box("cir_dst_3tp_fix_club") %>
    <%= box("cir_dst_3tp_fix_world") %>
  </tr>
  <tr>
    <th>Tre punti di virata prefissati, femminili</th>
    <%= box("cir_dst_3tp_fix_open_f") %>
    <%= box("cir_dst_3tp_fix_15m_f") %>
    <%= box("cir_dst_3tp_fix_club_f") %>
    <%= box("cir_dst_3tp_fix_world_f") %>
  </tr>
  <tr>
    <th>Tre punti di virata liberi</th>
    <%= box("cir_dst_3tp_free_open") %>
    <%= box("cir_dst_3tp_free_15m") %>
    <%= box("cir_dst_3tp_free_club") %>
    <%= box("cir_dst_3tp_free_world") %>
  </tr>
  <tr>
    <th>Tre punti di virata liberi, femminili</th>
    <%= box("cir_dst_3tp_free_open_f") %>
    <%= box("cir_dst_3tp_free_15m_f") %>
    <%= box("cir_dst_3tp_free_club_f") %>
    <%= box("cir_dst_3tp_free_world_f") %>
  </tr>
  <tr>
    <th>Triangolo qualsiasi prefissato</th>
    <%= box("cir_dst_trga_fix_open") %>
    <%= box("cir_dst_trga_fix_15m") %>
    <%= box("cir_dst_trga_fix_club") %>
    <%= box("cir_dst_trga_fix_world") %>
  </tr>
  <tr>
    <th>Triangolo qualsiasi prefissato, femminili</th>
    <%= box("cir_dst_trga_fix_open_f") %>
    <%= box("cir_dst_trga_fix_15m_f") %>
    <%= box("cir_dst_trga_fix_club_f") %>
    <%= box("cir_dst_trga_fix_world_f") %>
  </tr>
</table>
