<h1>Primati italiani di Volo a Vela - Velocità</h1>
<%
 def box(symbol)
   r = Ranking.find_by_symbol(symbol)
   s = r.sorted_standings.first

   str += "<td onClick=\"document.location='#{ranking_path(r)}'\" title=\"#{h r.name}\">"
   str += "#{s.pilot.person.name}<br />" if s
   str += "#{s.flight.plane.plane_type.name}<br />" if s
   str += "#{s.flight.speed} km/h<br />" if s
   str += l(s.flight.takeoff_time, :format => :dateonly) if s
   str += "</td>"
   return str
 end

%>
<table class="standard cir_spd_ranking">
  <tr>
    <th></th>
    <th>Libera</th>
    <th>15 metri</th>
    <th>Club</th>
    <th>World class</th>
  </tr>
  <tr>
    <th>Andata e ritorno, 300 km</th>
    <%= box("cir_spd_ar_300_open") %>
    <%= box("cir_spd_ar_300_15m") %>
    <%= box("cir_spd_ar_300_club") %>
    <%= box("cir_spd_ar_300_world") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 300 km, femminili</th>
    <%= box("cir_spd_ar_300_open_f") %>
    <%= box("cir_spd_ar_300_15m_f") %>
    <%= box("cir_spd_ar_300_club_f") %>
    <%= box("cir_spd_ar_300_world_f") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 500 km</th>
    <%= box("cir_spd_ar_500_open") %>
    <%= box("cir_spd_ar_500_15m") %>
    <%= box("cir_spd_ar_500_club") %>
    <%= box("cir_spd_ar_500_world") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 500 km, femminili</th>
    <%= box("cir_spd_ar_500_open_f") %>
    <%= box("cir_spd_ar_500_15m_f") %>
    <%= box("cir_spd_ar_500_club_f") %>
    <%= box("cir_spd_ar_500_world_f") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 750 km</th>
    <%= box("cir_spd_ar_750_open") %>
    <%= box("cir_spd_ar_750_15m") %>
    <%= box("cir_spd_ar_750_club") %>
    <%= box("cir_spd_ar_750_world") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 750 km, femminili</th>
    <%= box("cir_spd_ar_750_open_f") %>
    <%= box("cir_spd_ar_750_15m_f") %>
    <%= box("cir_spd_ar_750_club_f") %>
    <%= box("cir_spd_ar_750_world_f") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 1000 km</th>
    <%= box("cir_spd_ar_1000_open") %>
    <%= box("cir_spd_ar_1000_15m") %>
    <%= box("cir_spd_ar_1000_club") %>
    <%= box("cir_spd_ar_1000_world") %>
  </tr>
  <tr>
    <th>Andata e ritorno, 1000 km, femminili</th>
    <%= box("cir_spd_ar_1000_open_f") %>
    <%= box("cir_spd_ar_1000_15m_f") %>
    <%= box("cir_spd_ar_1000_club_f") %>
    <%= box("cir_spd_ar_1000_world_f") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 100 km</th>
    <%= box("cir_spd_trg_100_open") %>
    <%= box("cir_spd_trg_100_15m") %>
    <%= box("cir_spd_trg_100_club") %>
    <%= box("cir_spd_trg_100_world") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 100 km, femminili</th>
    <%= box("cir_spd_trg_100_open_f") %>
    <%= box("cir_spd_trg_100_15m_f") %>
    <%= box("cir_spd_trg_100_club_f") %>
    <%= box("cir_spd_trg_100_world_f") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 300 km</th>
    <%= box("cir_spd_trg_300_open") %>
    <%= box("cir_spd_trg_300_15m") %>
    <%= box("cir_spd_trg_300_club") %>
    <%= box("cir_spd_trg_300_world") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 300 km, femminili</th>
    <%= box("cir_spd_trg_300_open_f") %>
    <%= box("cir_spd_trg_300_15m_f") %>
    <%= box("cir_spd_trg_300_club_f") %>
    <%= box("cir_spd_trg_300_world_f") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 500 km</th>
    <%= box("cir_spd_trg_500_open") %>
    <%= box("cir_spd_trg_500_15m") %>
    <%= box("cir_spd_trg_500_club") %>
    <%= box("cir_spd_trg_500_world") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 500 km, femminili</th>
    <%= box("cir_spd_trg_500_open_f") %>
    <%= box("cir_spd_trg_500_15m_f") %>
    <%= box("cir_spd_trg_500_club_f") %>
    <%= box("cir_spd_trg_500_world_f") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 750 km</th>
    <%= box("cir_spd_trg_750_open") %>
    <%= box("cir_spd_trg_750_15m") %>
    <%= box("cir_spd_trg_750_club") %>
    <%= box("cir_spd_trg_750_world") %>
  </tr>
  <tr>
    <th>Triangolo FAI, 750 km, femminili</th>
    <%= box("cir_spd_trg_750_open_f") %>
    <%= box("cir_spd_trg_750_15m_f") %>
    <%= box("cir_spd_trg_750_club_f") %>
    <%= box("cir_spd_trg_750_world_f") %>
  </tr>
</table>
