<!DOCTYPE html>
<html lang="en">
<head>
  <title>Campionato CSVVA</title>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag 'csvva.css', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <div id="text">
    Campionato di Distanza CSVVA 2011
  </div>
  <div id="right_text">
    <% cfs = Championship.find_by_sym('csvva_2011').championship_flights %>
    <strong><%= cfs.count %></strong> voli<br />
    <strong><%= fmt_distance_in_km(cfs.sum(:distance).to_i)  %></strong>
  </div>
</div>

<div id="menu">
<ul>
  <li>
    Principale<br />
    <ul>
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Regolamento', 'http://www.acao.it/download/doc_download/155-regolamento-campionato-csvva-2011.html') %></li>
      <li><%= link_to('Contatti', flarc_static_path('csvva/contacts')) %></li>
      <li><%= link_to('Campionati precedenti', flarc_championships_path) %></li>
    </ul>
  </li>
  <li>
    Classifiche
    <ul>
      <li><%= link_to('Junior', flarc_ranking_path('csvva_junior_2011')) %></li>
      <li><%= link_to('Expert', flarc_ranking_path('csvva_expert_2011')) %></li>
      <li><%= link_to('Master', flarc_ranking_path('csvva_master_2011')) %></li>
      <li><%= link_to('SuperMaster', flarc_ranking_path('csvva_supermaster_2011')) %></li>
      <li><%= link_to('Trofeo Tamborini', flarc_ranking_path('csvva_tt_2011')) %></li>
    </ul>
  </li>
  <li>Elenchi
    <ul>
      <li><%= link_to('Voli', calendar_flarc_flights_path(:year => Time.now.year, 'championships.sym' => :csvva_2011)) %></li>
      <li><%= link_to('Piloti', flarc_pilots_path('championships.sym' => 'csvva_2011',
                                            :sort => 'person.last_name,person.first_name')) %></li>
      <li><%= link_to('Alianti', flarc_planes_path(:sort => 'registration')) %></li>
    </ul>
  </li>
  <li>
    <% if !hel_session || !hel_session.authenticated? %>
      <div class="menulogin">
        <%= link_to('Registrati', flarc_registration_path) %><br />
        <%= link_to('Login', '#', 'data-toggle' => 'modal', 'data-target' => '#login-dialog') %><br />
      </div>
    <% else %>
      <div class="userdata userdata_<%= hel_session.auth_identity.has_capabilities?(:admin)? ? 'admin' : (hel_session.authenticated? ? 'authenticated' : '') %>">

        <div>
          <strong><%= auth_person.name %></strong>
          <br style="clear: both" />
        </div>
      <ul>
        <li><%= link_to 'Pagina personale', flarc_user_path %></li>
      <% if !auth_pilot ||
            !auth_pilot.championships.include?(Championship.find_by_sym('csvva_2011'))  %>
        <li><%= link_to 'Iscrizione', flarc_csvva_registration_path %>
      <% else %>
        <li><%= link_to('Invia il tuo volo', flarc_user_path('new_flight' => 1)) %></li>
        <li><%= link_to 'I tuoi voli', flarc_flights_path(:pilot_id => auth_pilot.id) %></li>
      <% end %>

      <% if hel_session && hel_session.auth_identity.has_capabilities?(:admin)? %>
        <li><%= link_to 'Amministrazione', flarc_static_path('administration_home') %></li>
      <% end %>
        <li><%= link_to 'Logout', ygg_hel_session_logout_path, :method => 'post', :remote => true, :id => 'logout_link' %></li>
      </ul>
      </div>
    <% end %>
  </li>
</ul>
</div>

<div id="body">
<% flash.each do |css_class, message| %>
<p class="<%= css_class %>"><span></span><%= message %></p>
<% end %>

<%= yield  %>
</div>

<script type="text/javascript">
//<![CDATA[
jQuery(function($) {
  $("#logout_link").bind("ajax:complete", function(event, data, status, xhr) { window.location = '/'; });
});
//]]>
</script>

<%= render :partial => '/layouts/login' %>

</body>
</html>
