<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Campionato CSVVA</title>
  <meta charset="UTF-8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />

  <%= raw include_stylesheets :csvva, :media => 'all' %>
  <%= raw include_javascripts :default %>
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/es_LA" type="text/javascript"></script>



</head>
<body>
<div class="header">
  <div class="header_text">
    Campionato CSVVA <span style="font-size: 20%">Beta</span>
  </div>
  <div class="header_right_text">
<% stats = Flight.find_by_sql("SELECT count(*) AS cnt, sum(distance) AS dst FROM flights WHERE flights.id IN (SELECT DISTINCT ranking_flights.flight_id FROM ranking_flights,rankings WHERE ranking_flights.ranking_id=rankings.id AND rankings.symbol in ('csvva_junior_2010', 'csvva_expert_2010', 'csvva_master_2010', 'csvva_supermaster_2010'))").first %>
    <strong><%= stats.cnt %></strong> voli<br />
    <strong><%= fmt_distance_in_km(stats.dst.to_i)  %></strong>
  </div>
</div>

<div id="menu">
<ul>

  <li>
    Principale<br />
    <ul>
      <li><%= link_to('Home', static_url('csvva', 'home')) %></li>
      <li><%= link_to('Regolamento', static_url('csvva', 'rules')) %></li>
      <li><%= link_to('Contatti', static_url('csvva', 'contacts')) %></li>
    </ul>
  </li>
  <li>
    Classifiche
    <ul>
      <li><%= link_to('Junior', ranking_url('csvva_junior_2010')) %></li>
      <li><%= link_to('Expert', ranking_url('csvva_expert_2010')) %></li>
      <li><%= link_to('Master', ranking_url('csvva_master_2010')) %></li>
      <li><%= link_to('SuperMaster', ranking_url('csvva_supermaster_2010')) %></li>
      <li><%= link_to('Trofeo Tamborini', ranking_url('csvva_tt_2010')) %></li>
    </ul>
  </li>
  <li>Elenchi
    <ul>
      <li><%= link_to('Voli', flights_url(:calendar => true, :year => Time.now.year)) %></li>
      <li><%= link_to('Piloti', pilots_url) %></li>
      <li><%= link_to('Alianti', planes_url) %></li>
    </ul>
  </li>
</div>

<div id="body">
<p style="color: orange" id="flash-message"><%= flash[:notice] %></p>
<%= yield  %>
</div>
</body>
</html>
